<div class="field">
<div class="ui label">
  Task Id :
</div>
<div class="ui labeled input" >
  <input type="number" placeholder="Task Id" class="txtId"  value="{{id}}">
</div>
</div>
<div class="ui simple divider"></div>
<div class="field">
<div class="ui label">
  Title :
</div>
<div class="ui labeled input">
  <input type="text" placeholder="Title" class="txtTitle" value="{{title}}">
</div>
</div>
<div class="ui simple divider"></div>
<div class="field">
<div class="ui label">
  Date :
</div>
<div class="ui labeled input">
  <input type="date" placeholder="Date" class="txtDate" value="{{date}}">
</div>
</div>
<div class="ui simple divider"></div>

 <div class="ui form">
  <div class="field">
    <label class="ui label">Description</label>
    <textarea class="textDesc">{{Description}}</textarea>
  </div>
</div>

<div class="ui simple divider"></div>
<div class="ui buttons">
  <div class="ui positive button save-task">Save</div>
  <div class="or"></div>
  <div class="ui button cancle-task">Clear</div>
</div>