<section>
    <div id="title"><br/><br/>
      <h1>Backbone JS Demo</h1>
      <center><p>use &harr; to navigate.</p></center>
      <p class="footer">
        <h3>Presentaion by <a href="http://np.linkedin.com/in/cestmoisuraj/" target="_blank">Suraj Maharjan</a></h3><br>
        <h3>Github <a href="https://github.com/gitsuraj/backboneJS-demo.git" target="_blank">Link</a></h3>
      </p>
    </div>
  </section>
  <section>
  <br/><br/>
    <h1>Asynchronous Module Definition (AMD)</h1>
    <br/>
    <br/>
    <br/>
    <h3>API used <a href="http://requirejs.org/" target="_blank">Required JS</a></h3><br/><br/>
    
        <h3>Config</h3>
        <h3>Require</h3>
        <h3>Define</h3>

  </section>

  <section>
  <br/>
    <h1>require.config function()</h1><br/>

    <h3>1. Define Path of JS Library </h3><br/>
    <h3>2. Manage Dependencies using Shim </h3>
    <div class="code">
      <pre class="prettyprint linenums prettyprinted demo-code">
          require.config({
            baseUrl: "./js/app",
            paths: {
                "jquery": "../libs/jquery",
                "underscore": "../libs/lodash",
                "backbone": "../libs/backbone"
          },
          shim: {
                "jqueryui": ["jquery"],
                "backbone": {
                // Depends on underscore/lodash and jQuery
                "deps": ["underscore", "jquery"],
                // Exports the global window.Backbone object
                "exports": "Backbone"
            }
      </pre>
    </div>
  </section>

  <section>
  <br/>
    <h1>require function()</h1><br/>
    <h3>Start the main app logic using <strong>require</strong></h3><br/>
    <h3>Initialize and Load required JS files</h3> 
    <div class="code">
        <pre class="prettyprint linenums prettyprinted demo-code">
        // Includes Desktop Specific JavaScript files here (or inside of your Desktop router)

          require(["jquery", "backbone", "routers/DesktopRouter"

          //no need to have associated object in function

        , "jqueryui", "backbone.validateAll","prettify"],

               function($, Backbone, DesktopRouter) {
                    // Instantiates a new Desktop Router instance
                    new DesktopRouter();

                  }
          );
        </pre>
    </div>
  </section>

<section>
<br/>
  <h1>define function()</h1><br><br><br>
  <h3>
    The specification defines a single function "define" that is available as a free variable or a global variable.
  <a href="https://github.com/amdjs/amdjs-api/wiki/AMD">Link</a></h3><br>
  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
                              define(id?, dependencies?, factory);
   </pre></div>
   <br/><br/>
  <h3>Using an ID is not recommended unless necessary.</h3>
    <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
                              define(dependencies?, factory);
   </pre></div>
   <br/><br/>
  <h3>Code Demo</h3>
    <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
        define(["jquery", "backbone", "models/Model", "text!templates/demo1_servicelist.html"],
                function($, Backbone, Model, template){
                    //Your Code Here
        });
   </pre></div>
</section>


  <section>
  <br/>
  <h1>UnderscoreJS _.template</h1>
  <br/>
  <h3>Write the template's markup in an easy-to-use, PHP-tag-like syntax, then compile it with _.template into something JavaScript interpreters can understand and optimize</h3>
  <br/>
  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
      &lt;div&gt;&lt;%= mainContent %&gt;&lt;/div&gt;
      &lt;a href="&lt;%= link.url %&gt;" title="&gt;&lt;%= link.title %&gt;
        &lt;%= link.text %&gt;
      &lt;/a&gt;
  </pre>
  </div>
  <h3>this ↑ becomes that ↓</h3>
    <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
      function(obj) {obj || (obj = {}); var __t, __p = '', __e = _.escape;
      with (obj) { __p += '<div>' +((__t = ( mainContent )) == null ?'' : __t) + '</div>\n<a href="' +((__t = ( link.url )) == null ? '' : __t) + '" title="' +__e( link.title ) +'">\n  ' +
      ((__t = ( link.text )) == null ? '' : __t) +'\n</a>\n'; }
      return __p};
  </div>
  </section>

  <section>
  <br/>
  <h1>HandlebarJS [Templating]</h1>
  <br/>
  <h3>Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.</h3>
  <br/>
  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
  var template = Handlebars.compile(template);
  var html = template(me.model.toJSON()));
  </pre>
  </div>
  <h3> Handlebar Template</h3>
  <div class="code">
    <pre class="prettyprint linenums prettyprinted demo-code">
    &lt;div class="my_image"&gt;
        &lt;div class="user-profile-image"&gt;
        {{#if profile_image}}
        &lt;img id="user_profile_image" src="{{profile_image}}"&gt;
        {{else}}
        &lt;img id="user_profile_image" src="{{theme_url}}/images/no-img-100.png?v={{random_string}}"&gt;
        {{/if}}
        &lt;/div&gt;
        &lt;div id="profile_image_uploader"&gt;&lt;/div&gt;
    &lt;/div&gt;      

    </pre>
  </div>
  </section>

<section>
<br/>
  <h1>Template Loading</h1><br/>
  <h3>Loading with Ajax</h3>
   <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
        var tpl_folder="templates/";
        $.get(tpl_folder + name + '.html?_dc='+  (new Date()).getTime(), function (data) {
            that.templates[name.replace("/","_")] = data;
            index++;
            if (index < names.length) {
                loadTemplate(index);
            } else {
                callback();
            }
        });
  </pre>
  </div>
  <h3>Require JS addon text.js</h3>
   <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
define(["jquery", "backbone", "models/taskModel", "views/Demo2/taskListItem", "text!templates/Demo2/detail.html"],

    function($, Backbone, Model, TaskListItemView, template){

    });
  </pre>
  </div>
</section>

<section>
<br/>
  <h1>Events</h1><br>
   <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
define(["jquery", "backbone", "text!templates/Demo1.html"],

    function($, Backbone, template){

        var ServiceVIew = Backbone.View.extend({
            tagName: 'li',
            initialize: function() {
                this.listenTo(this.model, 'change', this.render);
            },
            events: {
                'click': 'toggleService'
            },
            toggleService: function(){
                this.model.toggle();
            }

        });
        return ServiceVIew;
});

  </pre>
  </div>
</section>

<section>
<br/>
  <h1>Trigger</h1><br>
  <h3>Trigger callbacks for the given event, or space-delimited list of events.</h3>

   <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">

define(["jquery", "backbone", "models/Model","collections/Collection", "text!templates/Presentation.html"],
    function($, Backbone, Model, Collection, template){
        var View = Backbone.View.extend({
            el: ".container",
            initialize: function() {
                var me = this;
                me.on('afterRender', me.afterRender);
                me.render();
            },
            render: function() {
                var me = this;
                // Setting the view's template property using the Underscore template method
                me.template = _.template(template, {});
                me.$el.html(me.template);
                me.trigger('afterRender', me);
                // Maintains chainability
                return me;
            },
            afterRender : function(view){
              //callback function for afterRender Event
            }
        });
      return View;
});
  </pre>
  </div>
</section>


<section>
<br/>
  <h1>Models</h1><br>

  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
define(["jquery", "backbone"],
    function($, Backbone) {
        // Creates a new Backbone Model class object
        var Model = Backbone.Model.extend({
            // Model Constructor
            initialize: function() {
            },
            // Default values for all of the Model attributes
            defaults: {
              "name":""
            },
            // Gets called automatically by Backbone when the set and/or save methods are called
            validate: function(attrs) {
              if(_.isNull(attrs.name)){
                  //Do something
              },
              idAttribute:id,
              urlRoot : base_url+'/user/getInfo'
            }
        });
        return Model;
});
  </pre>
  </div>
</section>


<section>
<br/>
  <h1>Collection</h1><br>

  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
define(["jquery","backbone","models/Model"],
  function($, Backbone, Model) {

    // Creates a new Backbone Collection class object
    var Collection = Backbone.Collection.extend({

      // Tells the Backbone Collection that all of it's models will be of type Model 
      model: Model,
      url: function() {
        return base_url +'/user/notes';
      }
    });
    return Collection;

});
  </pre>
  </div>
</section>

<section>
<br/><br/>
  <h1>Plugins</h1><br><br><br/>

      <h2>Model : Backbone-forums,Backbone-Relational,Backbone.validation</h2><br>
      <h2>Storage : Backbone.localStorage,Backbone.websql</h2><br>
      <h2>Router : backbone-query-parameters,backbone.routefilter</h2><br>
      <h2>Bindings : Backbone.DataBinding,Backbone.stickit</h2><br>
      <h2>Pagination : backbone-paginated-collection,backbone.simple-paginator</h2>
  </div>
</section>

<section>
  <h1>Routing</h1><br>

  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
      define(["jquery", "backbone", "views/PresentationView","views/Demo1/Demo1View"],

          function($, Backbone, PresentationView,Demo1View) {
              var DesktopRouter = Backbone.Router.extend({
              initialize: function() {
                      // Tells Backbone to start watching for hashchange events                
                      Backbone.history.start();
                  },
                  routes: {
                      // When there is no hash on the url, the home method is called
                      "": "index",
                      "demo1" : "demo1"
                  },
                  index: function() {
                      new PresentationView();
                  },
                  demo1 : function(){
                      new Demo1View();
                  }
              });
              return DesktopRouter;
      });
  </pre>
  </div>
</section>

<section>
<br/>
  <h1>Optimization and Building</h1><br>

<h3>A command line tool for running JavaScript scripts that use the AMD API for declaring and using JavaScript modules and regular JavaScript script files.</h3><br>

<h3>Installation</h3>
  <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
      $ npm install requirejs
      $ r.js -o app.build.js
  </pre>
  </div>

  <h3>where app.build.js is your build configuration file</h3>
   <div class="code">
  <pre class="prettyprint linenums prettyprinted demo-code">
      ({
        baseUrl: ".",
        name: "main",
        out: "main-built.js",
        modules: [
          {
            name: "main"
          }
        ]
      })
  </pre>
  </div> 
  <h2>r.js can also copy your source tree into a new build dir, and minify and build your CSS.</h2>
</section>

<section>
<br><br><br><br><br>
  <h1>Demo</h1><br>
  <h3><a href="#demo1">Demo1</a></h3>
</section>